.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 200px;
  background-color: beige;
  display: none;
  transform: translate(-50%, -50%);
}

.display {
  display: block;
  z-index: 2;
}
